/* lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* talwind setup */
@import "tailwindcss";
@plugin "daisyui";
/*  slick.css */
/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */

@theme {
  --color-crimson-red: #e62245;
  --color-burgundy: #97112a;
  --color-charcoal: #2f2f2b;
  --color-charcoal-black: #111111;
  --color-slightly-dark: #ebebeb;
  --color-dark-slate: #585c5d;
  --color-davy-gray: #4f4f4f;
  --color-charcoal-gray: #393939;
  --font-lato: "Lato", sans-serif;
}
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}
::selection {
  background-color: #e62245;
  color: white;
}
::-moz-selection {
  background-color: #e62245;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: var(--font-lato);
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--font-lato);
}

/* under line animation  */
@keyframes growLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.animate-growLine {
  animation: growLine 0.3s ease-in-out forwards;
  transform-origin: left;
}

/* text animation  */
@keyframes textReveal {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.text-reveal-wrapper {
  position: relative;
  display: inline-block;
  color: #111111;
}

.text-reveal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #e62245;
  animation: textReveal 0.3s ease forwards;
}

/* for swiper in banner*/
/* Customize swiper pagination to use line-style indicators */
.custom-swiper .swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  background-color: #6c0f20;
  opacity: 1;
  border-radius: 0;
  margin: 0 4px;
  transition: background-color 0.3s;
}

/* Hide bullets beyond the first 3 */
.custom-swiper .swiper-pagination-bullet:nth-child(n + 4) {
  display: none;
}

/* admin login page  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(201, 214, 255, 1) 100%
  );
  height: 100vh;
}

form {
  width: 850px;
  height: 550px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.left {
  background-color: #7494ec;
  width: 50%;
  height: inherit;
  border-radius: 30px 30% 30% 30px;
  position: relative;
}

div.left div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 40px;
  /* width: max-content; */
}

div.left div p {
  color: #fff;
  font-size: 36px;
  margin: 0;
  font-weight: bolder;
}

div.left div a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 14.5px;
}

div.left div input[type="submit"] {
  border: 2px solid #fff;
  width: 160px;
  height: 46px;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

div.right {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  padding: 40px;
  overflow: hidden;
}

div.right div {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

div.right h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  opacity: 70%;
}

div.right input {
  padding: 13px 50px 13px 20px;
  margin: 10px 0;
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
}

div.right input:focus {
  outline-color: transparent;
}

div.right div span {
  position: absolute;
  left: 85%;
  display: block;
}

div.right .person {
  top: 28%;
}

div.right .lock {
  top: 52%;
}

div.right div a {
  color: #000;
  display: block;
  margin-bottom: 20px;
}

div.right div button {
  background-color: #7494ec;
  width: 100%;
  height: 48px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

div.right div p {
  margin: 15px 0;
}

div.right div div {
  margin-top: 20px;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.right div div a {
  display: inline-block;
  margin: 0 8px;
  border: 2px solid #ccc;
  padding: 12px 7px 0 11px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  width: 17%;
  height: 50px;
}
