/* lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* charser */
/* @charset "UTF-8"; */

/* talwind setup */
@import "tailwindcss";
@plugin "daisyui";
/*  slick.css */
/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */

@theme {
  --color-crimson-red: #e62245;
  --color-burgundy: #97112a;
  --color-charcoal: #2f2f2b;
  --color-charcoal-black: #111111;
  --color-slightly-dark: #ebebeb;
  --color-davy-gray: #4f4f4f;
  --color-charcoal-gray: #393939;
  --font-lato: "Lato", sans-serif;
}
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}
::selection {
  background-color: #e62245;
  color: white;
}
::-moz-selection {
  background-color: #e62245;
  color: white;
}

* {
  box-sizing: border-box;
  font-family: var(--font-lato);
}

body {
  font-family: var(--font-lato);
}

/* under line animation  */
@keyframes growLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.animate-growLine {
  animation: growLine 0.3s ease-in-out forwards;
  transform-origin: left;
}

/* text animation  */
@keyframes textReveal {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.text-reveal-wrapper {
  position: relative;
  display: inline-block;
  color: #111111;
}

.text-reveal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #e62245;
  animation: textReveal 0.3s ease forwards;
}
